<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--1.设置放行的静态资源-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/cooperation.html" security="none"/>
    <http pattern="/register.html" security="none"/>
    <http pattern="/sampling.html" security="none"/>
    <http pattern="/shoplogin.html" security="none"/>
    <http pattern="/service/**" security="none"/>
    <http pattern="/controller/**" security="none"/>
    <http pattern="/seller/registerSeller.do" security="none"/>

    <!--2.设置拦截资源-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <form-login login-page="/shoplogin.html" authentication-success-forward-url="/admin/index.html" always-use-default-target="true" />
        <csrf disabled="true"/>
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout/>

    </http>

    <!--3.配置认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userAuthentication">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <!--4.配置一个从数据库中获取商家用户登录名bean，设置到认证管理器中-->
    <beans:bean id="userAuthentication" class="com.pinyougou.shop.service.UserAuthentication">
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>
    <!--5.配置加密管理器-->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--6.为了userAuthentication这个bean能调用zookeeper中服务，引入zookeeper中的dubbo服务-->
    <dubbo:application name="pinyougou-shop-web"/>
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService" id="sellerService"/>
</beans:beans>